html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#nowPlayingBarContainer {
	width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
	display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}